In [429]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import tree
from sklearn.model_selection import GridSearchCV
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import *
from sklearn import *
from sklearn.metrics import accuracy_score
from sklearn.linear_model import *
from pandas import *
from datetime import date
from sklearn import *
from sklearn.impute import SimpleImputer

from sklearn.feature_extraction.text import *
from sklearn.naive_bayes import *
from sklearn.metrics import *
from scipy import *

# load the data
df = pd.read_csv('/home/giang/Downloads/gianha/train.csv')
df_test = pd.read_csv('/home/giang/Downloads/gianha/test.csv')

In [430]:
# thong tin
df.info()
df
# tong dong co null
# df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [431]:
df = df.drop('Id',axis=1)
x = df.drop('SalePrice',axis=1)
y = df['SalePrice']

In [432]:
x

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal

In [433]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [434]:
# chu va so
numerical_col = []
cat_col = []
for i in x.columns:
    if x[i].dtype == 'object':
        cat_col.append(i)
        print(i+': ' + str(len(x[i].unique())))
    else:
        numerical_col.append(i)
        
print('CAT col \n', cat_col)
print('Numerical col\n')
print(numerical_col)

MSZoning: 5
Street: 2
Alley: 3
LotShape: 4
LandContour: 4
Utilities: 2
LotConfig: 5
LandSlope: 3
Neighborhood: 25
Condition1: 9
Condition2: 8
BldgType: 5
HouseStyle: 8
RoofStyle: 6
RoofMatl: 8
Exterior1st: 15
Exterior2nd: 16
MasVnrType: 5
ExterQual: 4
ExterCond: 5
Foundation: 6
BsmtQual: 5
BsmtCond: 5
BsmtExposure: 5
BsmtFinType1: 7
BsmtFinType2: 7
Heating: 6
HeatingQC: 5
CentralAir: 2
Electrical: 6
KitchenQual: 4
Functional: 7
FireplaceQu: 6
GarageType: 7
GarageFinish: 4
GarageQual: 6
GarageCond: 6
PavedDrive: 3
PoolQC: 4
Fence: 5
MiscFeature: 5
SaleType: 9
SaleCondition: 6
CAT col
 ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']
Numerical col

['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

In [435]:
xx = pd.get_dummies(df.LotConfig)
xx

      Corner  CulDSac  FR2  FR3  Inside
0          0        0    0    0       1
1          0        0    1    0       0
2          0        0    0    0       1
3          1        0    0    0       0
4          0        0    1    0       0
...      ...      ...  ...  ...     ...
1455       0        0    0    0       1
1456       0        0    0    0       1
1457       0        0    0    0       1
1458       0        0    0    0       1
1459       0        0    0    0       1

[1460 rows x 5 columns]

In [436]:
# chuyen doi bien phan loai thanh bien gia
df = pd.get_dummies(df)
df

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,0,1,0,0,0,0,1,0
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,0,1,0,0,0,0,1,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,0,1,0,0,0,0,1,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,0,1,0,0,0,0,1,0

In [437]:
x = df
x.head(20)

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0
5,50,85.0,14115,5,5,1993,1995,0.0,732,0,...,0,0,0,1,0,0,0,0,1,0
6,20,75.0,10084,8,5,2004,2005,186.0,1369,0,...,0,0,0,1,0,0,0,0,1,0
7,60,NaN,10382,7,6,1973,1973,240.0,859,32,...,0,0,0,1,0,0,0,0,1,0
8,50,51.0,6120,7,5,1931,1950,0.0,0,0,...,0,0,0,1,1,0,0,0,0,0
9,190,50.0,7420,5,6,1939,1950,0.0,851,0,...,0,0,0,1,0,0,0,0,1,0
10,20,70.0,11200,5,5,1965,1965,0.0,906,0,...,0,0,0,1,0,0,0,0,1,0
11,60,85.0,11924,9,5,2005,2006,286.0,998,0,...,0,1,0,0,0,0,0,0,0,1
12,20,NaN,12968,5,6,1962,1962,0.0,737,0,...,0,0,0,1,0,0,0,0,1,0
13,20,91.0,10652,7,5,2006,2007,306.0,0,0,...,0,1,0,0,0,0,0,0,0,1
14,20,NaN,10920,6,5,1960,1960,212.0,733,0,...,0,0,0,1,0,0,0,0,1,0
15,45,51.0,6120,7,8,1929,2001,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
16,20,NaN,11241,6,7,1970,1970,180.0,578,0,...,0,0,0,1,0,0,0,0,1,0
17,90,72.0,10791,4,5,1967,1967,0.0,0,0,...,0,0,0,1,0,0,0,0,1,0
18,20,66.0,13695,5,5,2004,2004,0.0,646,0,...,0,0,0,1,0,0,0,0,1,0
19,20,70.0,7560,5,6,1958,1965,0.0,504,0,...,0,0,0,0,1,0,0,0,0,0

In [438]:
# dien cac gia tri con thieu theo gia tri trung binh
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
imputer = imputer.fit(x)
x = imputer.transform(x)
# y = imputer.transform(y[numerical_col])

In [439]:
# chuan hoa theo min max
scl = MinMaxScaler()
x = scl.fit_transform(x)
x

array([[0.23529412, 0.15068493, 0.0334198 , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.20205479, 0.03879502, ..., 0.        , 1.        ,
        0.        ],
       [0.23529412, 0.1609589 , 0.04650728, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.29411765, 0.15410959, 0.03618687, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.1609589 , 0.03934189, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.18493151, 0.04037019, ..., 0.        , 1.        ,
        0.        ]])

In [440]:
# chia tap ti le 8, 2
X_train , X_test , y_train , y_test = train_test_split(x , y , test_size= 0.2)

In [441]:
y_train

592     138000
967     135000
768     216837
575     118500
1174    239000
         ...
1006    163500
369     162000
350     318061
911     143500
827     189000
Name: SalePrice, Length: 1168, dtype: int64

In [442]:
X_test

array([[0.23529412, 0.08561644, 0.08994835, ..., 0.        , 1.        ,
        0.        ],
       [0.29411765, 0.12328767, 0.04022529, ..., 1.        , 0.        ,
        0.        ],
       [0.23529412, 0.06849315, 0.05184977, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.32352941, 0.24315068, 0.0197247 , ..., 0.        , 0.        ,
        0.        ],
       [0.23529412, 0.23630137, 0.04019725, ..., 0.        , 1.        ,
        0.        ],
       [0.29411765, 0.16438356, 0.01776157, ..., 0.        , 1.        ,
        0.        ]])

In [443]:
y_test

1409    215000
217     107000
1237    195000
928     236500
414     228000
         ...
536     188000
308      82500
198     104000
318     260000
458     161000
Name: SalePrice, Length: 292, dtype: int64

In [444]:
clf = LinearRegression(normalize=True)
res = clf.fit(X_train, y_train)

In [445]:
scores = clf.score(X_test, y_test)
scores

0.9995437955754408

In [446]:
resS = res.predict(X_test)
resS[1]

107000.00000000029

In [447]:
y_test.values.tolist()
# df.values.tolist()

[215000,
 107000,
 195000,
 236500,
 228000,
 175500,
 465000,
 152000,
 60000,
 337500,
 137000,
 175000,
 110000,
 165000,
 165500,
 385000,
 275000,
 129000,
 317000,
 147000,
 222000,
 35311,
 134000,
 117500,
 176000,
 115000,
 229456,
 110000,
 85000,
 262500,
 234000,
 119200,
 130000,
 145000,
 167900,
 108000,
 238000,
 133500,
 192500,
 100000,
 140000,
 315500,
 359100,
 93500,
 325000,
 100000,
 120500,
 125500,
 127000,
 115000,
 235000,
 187500,
 140000,
 110000,
 200000,
 115000,
 108000,
 93000,
 144000,
 157000,
 153500,
 117000,
 127500,
 123500,
 115000,
 134800,
 222000,
 162900,
 348000,
 153000,
 201000,
 485000,
 144000,
 215000,
 185000,
 290000,
 101800,
 178900,
 141000,
 173000,
 152000,
 88000,
 239500,
 120500,
 179900,
 394432,
 127500,
 181900,
 130000,
 90000,
 101000,
 290000,
 133700,
 221500,
 214000,
 164000,
 207500,
 374000,
 262500,
 326000,
 290000,
 124000,
 81000,
 164500,
 263000,
 112000,
 80000,
 123000,
 181000,
 145900,
 144000,
 158000,
 219500,
 132000,
 235000,
 84900,
 230000,
 251000,
 112000,
 223500,
 194700,
 110500,
 161750,
 132500,
 248000,
 140000,
 197000,
 228500,
 174900,
 129500,
 213490,
 151000,
 133000,
 147500,
 110000,
 100000,
 160000,
 144000,
 160000,
 82000,
 194000,
 186700,
 173500,
 219210,
 164000,
 144000,
 126000,
 260000,
 193879,
 226000,
 148000,
 135000,
 181000,
 87500,
 244000,
 170000,
 132000,
 105500,
 135000,
 177000,
 109900,
 134000,
 148000,
 157000,
 159895,
 208900,
 187000,
 128950,
 180500,
 141000,
 200000,
 85000,
 200141,
 133000,
 116000,
 152000,
 163990,
 192140,
 105000,
 340000,
 140000,
 108000,
 165400,
 149700,
 110000,
 162500,
 144500,
 138500,
 246578,
 199900,
 154000,
 250000,
 135000,
 315750,
 150000,
 84500,
 185000,
 394617,
 178000,
 220000,
 230000,
 121500,
 176000,
 236500,
 155000,
 97500,
 198500,
 230500,
 176500,
 222500,
 207500,
 219500,
 147000,
 230000,
 180500,
 259500,
 115000,
 145000,
 160000,
 128200,
 130000,
 140000,
 115000,
 350000,
 270000,
 88000,
 90000,
 412500,
 97000,
 139000,
 320000,
 127500,
 325000,
 140000,
 135000,
 205950,
 134900,
 174000,
 190000,
 168500,
 169500,
 117500,
 98000,
 370878,
 178000,
 274900,
 189950,
 315000,
 256000,
 341000,
 174000,
 111250,
 158000,
 174000,
 95000,
 275000,
 277500,
 130500,
 265979,
 451950,
 217000,
 239000,
 361919,
 82000,
 110000,
 62383,
 91300,
 172500,
 82000,
 110000,
 125000,
 58500,
 139000,
 215200,
 164700,
 159000,
 140000,
 129000,
 204750,
 135000,
 207500,
 180000,
 234000,
 117000,
 254000,
 119900,
 264132,
 188000,
 82500,
 104000,
 260000,
 161000]

In [448]:
print(mean_squared_error(y_test, clf.predict(X_test)))

2647525.435100811

In [449]:
def mape(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [450]:
mape_ = mape(y_test, resS)
mape_

0.11529132134366403